{% extends "base.html" %}
{% load static %}

{% block header %}
    <title>INS'Hack 2024 | HOME</title>
{% endblock %}

{% block content %}

{% if messages %}
  <div>
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe}}</p>
    {% endfor %}
  </div>
{% endif %}

    <h1>CTF</h1>
    <p>CTF is a Capture The Flag game.</p>
<br>
<a href="login">
    <button>
        login
    </button>
</a>
<br>
<a href="register">
    <button>
        register
    </button>
</a>
{% endblock %}

